#faculty-classes-manual-edit-student-allocation-table-form {
  background-color: transparent;
  padding: 0;
}

#hod-subject-verification {
  width: 50%;
}

#hod-student-verification {
  width: 50%;
}
