.loading-component-toast {
  position: fixed;
  top: 62px; /* Position it 100px from the top of the page */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  background-color: var(--black);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 999; /* Ensure it stays on top of other content */
}

.loading-component-toast span {
  margin-right: 15px;
  font-size: 16px;
  font-weight: bold;
  color: var(--white);
}

.component-loading-container {
  --uib-size: 25px;
  --uib-color: var(--white);
  --uib-speed: 0.9s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}
.component-dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.component-dot::before {
  content: "";
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 1;
  animation: pulse calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  transition: background-color 0.3s ease;
}

.component-dot:nth-child(2) {
  transform: rotate(45deg);
}

.component-dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.component-dot:nth-child(3) {
  transform: rotate(90deg);
}

.component-dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.component-dot:nth-child(4) {
  transform: rotate(135deg);
}

.component-dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.component-dot:nth-child(5) {
  transform: rotate(180deg);
}

.component-dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.component-dot:nth-child(6) {
  transform: rotate(225deg);
}

.component-dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.component-dot:nth-child(7) {
  transform: rotate(270deg);
}

.component-dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.component-dot:nth-child(8) {
  transform: rotate(315deg);
}

.component-dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}
