.edit-achievements-alert-popup{
    width: 1000px;
    max-width: 1000px;
    }
    .auto {
        cursor: text;
    }
   .edit-achievements{
        text-align: center;
    }
    .popup-close-btn{
        align-items: end;
    }
